$font-stack: 'Times New Roman', sans-serif;
$background-color: #333;
$color: white;
$accent-color: rebeccapurple;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $background-color;
    color: $color;
    font-family: $font-stack;
    font-size: 24px;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
